# 변수 타입

In [1]:
aaa = 1

In [2]:
aaa

1

In [3]:
aaa = '안녕'
aaa

'안녕'

In [5]:
변수 = "안녕"
변수

'안녕'

# 복합대입연산자

In [6]:
a += 10

NameError: name 'a' is not defined

In [11]:
a = 5 # 변수 초기화
a += 10 # 복합대입연산자
# + = # 일반 문장으로 변경
a = a + 10
a

25

In [13]:
a -= 10
a = a - 10
a

-5

# 사용자로부터 키보드로 입력받기

In [15]:
 input_data = input()

In [16]:
if 1 : 
    print("2")

2

In [17]:
input_data

'ㅎㅇ'

In [18]:
if input_data :
    print(2)

2

In [ ]:
type(input_data)

str

In [22]:
input_data = int(input_data)
print(input_data)
      print((type(input_data)))

IndentationError: unexpected indent (3084640452.py, line 3)

In [26]:
# 사용자로부터 20.4를 입력 받아서 실수로 변환하고, 자료형을 출력
num = input("실수를 입력하세요.(예: 20.4)")

In [27]:
print(num)
print(type(num))
# 20.4 + 20을 한 결과를 출력
result = float(num) + 20
print(result)

20.4
<class 'str'>
40.4

In [29]:
num1 = "20"
num2 = "20.4"

In [33]:
print(int(float(num2)))
print(eval(num1))

20
20

In [32]:
print(float(num1))
print(eval(num1))

20.0
20

In [37]:
num1 = 20
num1

20

In [39]:
print("나의 나이는 {}입니다.".format(num1))

나의 나이는 20입니다.

In [44]:
result = '나의 나이는 ' + str(num1) + '입니다.'
result (f'나의 나이는 {num1}세 입니다.')
print(result)

TypeError: 'str' object is not callable

# 확인문제1

In [60]:
# 두수 입력받기, 숫자로 형변환
# 입력은 정수, 실수 모두 가능
num1 = eval(input()) # 한 수를 입력 받고, 형 변환, 대입
num2 = eval(input())

print(num1, num2)
print(type(num1), type(num2))

4 20
<class 'int'> <class 'int'>

In [62]:
# 연산, 출력
print(f"{num1}+{num2} = {num1 + num2}")
print(f"{num1}-{num2} = {num1 - num2}")
print(f"{num1}*{num2} = {num1 * num2}")
print(f"{num1}/{num2} = {num1 / num2}")
print(f"{num1}%{num2} = {num1 % num2}")
print(f"{num1}//{num2} = {num1 // num2}")

4+20 = 24
4-20 = -16
4*20 = 80
4/20 = 0.2
4%20 = 4
4//20 = 0

# 문자열 함수

In [65]:
"".isalnum()

False

In [72]:
"aaa123}".isidentifier()

False

In [75]:
"11".isdigit()

True

In [82]:
print("안1녕"in"안녕1하세요")

False

In [ ]:
fruits = "사과, 배, 포도, 딸기"
fruits = fruits.split()

AttributeError: 'tuple' object has no attribute 'split'

In [90]:
fruits = "사과-배-포도-딸기"
fruits.split("-")

['사과', '배', '포도', '딸기']

In [96]:
print(fruits)
print(type(fruits))

('사과', '배', '포도', '딸기')
<class 'tuple'>

In [97]:
fruits

('사과', '배', '포도', '딸기')

In [99]:
fruits[1]

'배'

In [100]:
nums = "1, 2, 3, 4, 5"
num_list = nums.split(",")
num_list

['1', ' 2', ' 3', ' 4', ' 5']

In [103]:
type(eval(num_list[1]))

int

In [ ]:
# 두 수를 입력받아서, 두 수를 +한 결과를 출력하기
# 두 수 입력받기
# 두 수를 ','를 기준으로 쪼개기
# 각 형 변환하기
# 연산하기, 출력하기

input()

'20,30'

In [105]:
nums = input()
nums

'20, 40'

In [107]:
nums = input()
nums

'4, 20'

In [109]:
num_list = nums.split(",")
num_list

['4', ' 20']

In [ ]:
num[]

'0'

In [114]:
num = input().split(",")
num

['4', ' 20']

In [116]:
num1 = eval(num[0])
num2 = eval(num[1])
num1, num2

(4, 20)

In [120]:
print(f'{num1} + {num2} = {num1+num2}')
print(f'{num1} - {num2} = {num1-num2}')
print(f'{num1} * {num2} = {num1*num2}')
print(f'{num1} / {num2} = {num1/num2}')
print(f'{num1} % {num2} = {num1%num2}')
print(f'{num1} // {num2} = {num1//num2}')

4 + 20 = 24
4 - 20 = -16
4 * 20 = 80
4 / 20 = 0.2
4 % 20 = 4
4 // 20 = 0

In [128]:
print("\"안녕하세요\"입니다\n람쥐")

"안녕하세요"입니다
람쥐

In [130]:
print("\"안녕하세요\"입니다\n람\t쥐")

"안녕하세요"입니다
람	쥐