# 함수

In [1]:
def a():
    print('hello')
    print('hello')

a()

hello
hello

In [10]:
# doc_string 팝업방법 : ctrl + shift + spacebar 
print()

In [ ]:
# 사용자 함수 정의부
# def print_n_times(매개변수) , 매개변수(파라미터)
def print_n_times(value, n):
    for i in range(n):
        # value 변수에 저장된 값을 프린트
        print(value)

In [ ]:
# 함수 호출부
# print_n_times (전달인자) #전달인자(아규먼트)
print_n_times("hello", 3)

hello
hello
hello

In [19]:
def print_n():
    n=3
    for i in range(3):
        print("안녕")
print_n()

안녕
안녕
안녕

# 가변 매개변수

In [46]:
def a(n, *values):
    # print(values)
    # print(type(values))
    for i in range(n):
        for value in values:
            print(value)
        print()
a(2, "ㅎㅇ", "hello")

ㅎㅇ
hello

ㅎㅇ
hello

# 기본 매개변수 설정

In [48]:
def print_n(value, n=3): # n=3 < 매개변수 기본값
    for i in range(n):
        print(value)
print_n("안녕")

안녕
안녕
안녕

In [50]:
def print_n(value, n=3): # n=3 < 매개변수 기본값
    for i in range(n):
        print(value)
    
# 함수 호출부
print_n("안녕", 5)

안녕
안녕
안녕
안녕
안녕

In [ ]:
def a(*values, n=3):
    # print(values)
    # print(type(values))
    for i in range(n):
        for value in values:
            print(value)
        print()
    return values
    print('end') # cpu가 영원히 실행할 수 없다
a("ㅎㅇ", "hello", '봉주르')

ㅎㅇ
hello
봉주르

ㅎㅇ
hello
봉주르

ㅎㅇ
hello
봉주르

('ㅎㅇ', 'hello', '봉주르')

In [93]:
d = 'hello'
value = a("ㅎㅇ", "hello", '봉주르', 'dd')
print(value)
print(type(value))

ㅎㅇ
hello
봉주르
dd

ㅎㅇ
hello
봉주르
dd

ㅎㅇ
hello
봉주르
dd

('ㅎㅇ', 'hello', '봉주르', 'dd')
<class 'tuple'>

In [ ]:
def test(a, b=10, c=100):
    print(a + b + c)
# test(10,20,30)
# test(a=10, b=100, c=200)
# test(c=10, a=100, b=200)
# test(10, c=200)

220

In [98]:
def f(x):
    return x
print(f(10))

10

In [ ]:
def f(x):
    return 2*x + 1  # return 뒤에는 = 쓰면 안됨
print(f(10))

21

In [108]:
def f(x):
    return x**2 + 2*x + 1
print(f(10))

121

In [ ]:
def mul(*values):
    result =1
    for i in values:
        result = result *int(i)  
# for 반복문안에서 반복해서 곱해줌.. 처음 result 값을 1로 설정하고 1*5 > 5*7.. 끝날때까지 곱해줌
    return result
# 함수가 끝날때 reult 를 결과값으로 반환
print(mul(5, 7, 9, 10))

3150

In [131]:
def comMul(num1, num2): # 함수 정의 시 반드시 'def' 사용
    for i in range(1,1001):
        if i % num1 == 0 and i % num2 == 0:  # num1 과 num2로 나누어지는 수 찾기
            print(f'{i}는 {num1}과 {num2}의 공배수입니다.')
comMul(3, 5)

15는 3과 5의 공배수입니다.
30는 3과 5의 공배수입니다.
45는 3과 5의 공배수입니다.
60는 3과 5의 공배수입니다.
75는 3과 5의 공배수입니다.
90는 3과 5의 공배수입니다.
105는 3과 5의 공배수입니다.
120는 3과 5의 공배수입니다.
135는 3과 5의 공배수입니다.
150는 3과 5의 공배수입니다.
165는 3과 5의 공배수입니다.
180는 3과 5의 공배수입니다.
195는 3과 5의 공배수입니다.
210는 3과 5의 공배수입니다.
225는 3과 5의 공배수입니다.
240는 3과 5의 공배수입니다.
255는 3과 5의 공배수입니다.
270는 3과 5의 공배수입니다.
285는 3과 5의 공배수입니다.
300는 3과 5의 공배수입니다.
315는 3과 5의 공배수입니다.
330는 3과 5의 공배수입니다.
345는 3과 5의 공배수입니다.
360는 3과 5의 공배수입니다.
375는 3과 5의 공배수입니다.
390는 3과 5의 공배수입니다.
405는 3과 5의 공배수입니다.
420는 3과 5의 공배수입니다.
435는 3과 5의 공배수입니다.
450는 3과 5의 공배수입니다.
465는 3과 5의 공배수입니다.
480는 3과 5의 공배수입니다.
495는 3과 5의 공배수입니다.
510는 3과 5의 공배수입니다.
525는 3과 5의 공배수입니다.
540는 3과 5의 공배수입니다.
555는 3과 5의 공배수입니다.
570는 3과 5의 공배수입니다.
585는 3과 5의 공배수입니다.
600는 3과 5의 공배수입니다.
615는 3과 5의 공배수입니다.
630는 3과 5의 공배수입니다.
645는 3과 5의 공배수입니다.
660는 3과 5의 공배수입니다.
675는 3과 5의 공배수입니다.
690는 3과 5의 공배수입니다.
705는 3과 5의 공배수입니다.
720는 3과 5의 공배수입니다.
735는 3과 5의 공배수입니다.
750는 3과 5의 공배수입니다.
765는 3과 5의 공배수입니다.
780는 3과 5의 공배수입니다.
795는 3과 5의 공배수입니다.
810는 3과 5의 공배수입니다.
825는 3과 5의 공배수입니다.
840는 3과 5의 공배수입니다.
855는 3과 5의 공배수입니다.
870는 3과 5의 공배수입니다.
885는 3과 5의 공배수입니다.
900는 3과 5의 공배수입니다.
915는 3과 5의 공배수입니다.
930는 3과 5의 공배수입니다.
945는 3과 5의 공배수입니다.
960는 3과 5의 공배수입니다.
975는 3과 5의 공배수입니다.
990는 3과 5의 공배수입니다.

In [ ]:
nums = input('두 수 입력.. 예(2,3)')
nums = nums.split(',')
print(nums)
num1, num2 = int(nums[0]), int(nums[1])
print(num1, num2)

['4', '5']
4 5

# 튜플

In [140]:
tuple = (1, 2, 3)
type(tuple[:4])

tuple

In [ ]:
# 한번 저장한 튜플 요소 값은 변경 xxx
tuple[2]=5
tuple

TypeError: 'tuple' object does not support item assignment

In [143]:
tuple=list(tuple)
tuple

[1, 2, 3]

In [145]:
tuple[2]=6
tuple

[1, 2, 6]

In [146]:
a, b = [10, 20]
print(a,b)

10 20

In [150]:
[a, b] = 10, 20
a

10

In [155]:
a = 2
b = 2, 
print(a)
print(b)
print(type(a))
print(type(b))

2
(2,)
<class 'int'>
<class 'tuple'>

In [156]:
b[0] + 2

4

In [ ]:
a, b = 20, 30

In [ ]:
a, b = b, a  # 두 변수의 값을 서로 교환 할 때
a

30

# 튜플 함수 활용

In [ ]:
def test():
    return (10, 20, 30)

In [177]:
a, *b, c = test()
print(a)
print(b), print(c)

10
[20, 30]
40

(None, None)

In [185]:
# 함수 선언
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수 선언
list_input_a = [1, 2, 3, 4, 5]

# map 함수 사용
output_a = map(power, list_input_a)
print("# 함수의 실행결과")
print("map(power, list_input_a) : ",output_a)
print("map(power, list_input_a) : ",list(output_a))
print()

# filter 함수 사용
output_b = filter(under_3, list_input_a)
print('#filter() 함수의 실행결과')
print('filter(under_3, output_b) :', output_b)
print('filter(under_3, output_b) :', list(output_b))

# 함수의 실행결과
map(power, list_input_a) :  <map object at 0x000002762B52BAF0>
map(power, list_input_a) :  [1, 4, 9, 16, 25]

#filter() 함수의 실행결과
filter(under_3, output_b) : <filter object at 0x000002762CE79BA0>
filter(under_3, output_b) : [1, 2]

In [190]:
# 함수 선언
power = lambda x: x*x
under_3 = lambda x : x < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

# map() 함수를 사용합니다.
output_a = map(power, list_input_a)
print('#map() 함수의 실행결과')
print('map(power, list_input_a):', output_a)
print('map(power, list_input_a):', list(output_a))
print()

#filter 함수를 사용합니다.
output_b = filter(under_3, list_input_a)
print('#filter() 함수의 실행결과')
print('filter(under_3, output_b):', output_b)
print('filter(under_3, output_b):', list(output_b))

#map() 함수의 실행결과
map(power, list_input_a): <map object at 0x000002762B5DB070>
map(power, list_input_a): [1, 4, 9, 16, 25]

#filter() 함수의 실행결과
filter(under_3, output_b): <filter object at 0x000002762CE8C640>
filter(under_3, output_b): [1, 2]

# 파일 처리
- 파일에 데이터를 쓰고 읽기

In [196]:
file = open('basic.txt', 'w', encoding="utf-8")

file.write('hello world')

file.close()

In [212]:
# 파일 데이터 읽기
file = open('datas/basic.txt', 'r', encoding="utf-8")

print(file.read())

hello
안녕

In [211]:
# 파일 위치지정, 파일뒤에 추가하기 a 모드
file = open('datas/basic.txt', 'a', encoding="utf-8")

file.write('\n안녕')

file.close()

In [215]:
with open('datas/basic.txt', 'w', encoding="utf-8") as file:
    print(file.read())
    print(type(file.read()))

UnsupportedOperation: not readable

# 파일 처리 예제

In [217]:
a = list('12312412')
a

['1', '2', '3', '1', '2', '4', '1', '2']

In [233]:
import random
H = list('가나다라마바사아자차카타파하기니디리미비시이지치키티피히')
with open('info.csv', 'w', encoding='utf-8') as file:
    for i in range (1000):
        name = random.choice(H) + random.choice(H)
    weight = random.randrange(40, 100)
    height = random.randrange(140,200)

    file.write(f'{name}, {height}, {weight}')

with open('info.csv', 'r', encoding='utf-8') as file:
    a = file.read()
print(a)

바피, 159, 76

In [ ]:
with open('info.csv', 'r', encoding='utf-8') as f:
    for line in f:
        (name, weight, ehight) = line.strip(.split(','))
        if (not name) or (not weight) or (not height):
            continue
        bmi = int(weight) / ((int(height)/100)**2)

In [235]:
print('\n'.join(["aaa", "bbb"]))

aaa
bbb

# 문제 1

In [ ]:
# map 함수, 리스트
# a = str(1)
# a
numbers = [1, 2, 3, 4, 5, 6]
numbers = list(map(str, numbers))
# numbers = list(map(lambda x : str(x), numbers))
# "::".join() # 문자열 요소를 가진 리스트를 전달해야함
print ("::".join(numbers))

1::2::3::4::5::6

In [244]:
numbers = [1, 2, 3, 4, 5]
numbers = list(map(str, numbers))
print("::".join(numbers))

1::2::3::4::5

In [248]:
a = ['나는', '파이썬이', '어렵습니다', '.']
print(" ".join(a))

나는 파이썬이 어렵습니다 .

# 문제2

In [253]:
numbers = list(range(1, 10 + 1))

print('# 홀수만 추출하기')
print(list(filter(lambda x: x% 2 ==1 , numbers)))
print()
print('# 3 이상, 7미만 추출하기')
print(list(filter(lambda x: 3 <= x <7 , numbers)))
print()
print('# 제곱해서 50미만 추출하기')
print(list(filter(lambda x: x**2 < 50 , numbers)))
print()

# 홀수만 추출하기
[1, 3, 5, 7, 9]

# 3 이상, 7미만 추출하기
[3, 4, 5, 6]

# 제곱해서 50미만 추출하기
[1, 2, 3, 4, 5, 6, 7]

# 문제3

In [256]:
import random
H = list('가나다라마바사아자차카타파하기니디리미비시이지치키티피히')
with open('info.csv', 'w', encoding='utf-8') as file:
    for i in range (1000):
        name = random.choice(H) + random.choice(H)
    weight = random.randrange(40, 100)
    height = random.randrange(140,200)

    file.write(f'{name}, {height}, {weight}')

with open('info.csv', 'r', encoding='utf-8') as file:
    a = file.read()

In [ ]:
import csv
file_name = "email.csv"
with open('email.csv', 'w', encoding='utf-8') as file:
    login email, identifier, first name, last name
    laura@example.com 2070 laura grey